/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* Color variables */
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

/* Body styles */
body {
  min-height: 100vh;
  min-width: 375px;
}

main {
  overflow: hidden;
}

/* Image, span, svg styles */
img,
span,
svg {
  display: block;
}

/* Header styles */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--White);
}

/* Navbar styles */
.navbar-nav {
  position: fixed;
  top: 100px;
  left: 20px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  z-index: 10;
  padding: 40px 0;
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: var(--White);
}

.navbar-nav a {
  color: var(--Dark-Blue);
  display: block;
}

.navbar-nav.active {
  z-index: -1;
  transition: all 0.5s ease;
  display: flex;
  box-shadow: 0 40px 213px 105px hsla(240, 9%, 4%, 0.2);
}

/* Primary button styles */
.btn-primary {
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  border-radius: 50px;
  padding: 15px 30px;
  display: block;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  color: var(--Very-Light-Gray);
}

.btn-primary:hover {
  opacity: 0.6;
}

/* Hide mobile button on desktop */
.navbar .btn-primary {
  display: none;
}

/* Home section styles */
.home-img {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.home-img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-position: bottom;
  object-fit: cover;
}

.home-title {
  color: var(--Dark-Blue);
  text-align: center;
  padding: 1rem 2rem 0.5rem;
  font-size: 40px;
  font-weight: 400;
}

.home-text {
  font-size: 15px;
  text-align: center;
  padding: 0.5rem 1rem 1rem 1.5rem;
  color: var(--Grayish-Blue);
  margin-bottom: 1rem;
}

.home .btn-primary {
  margin-bottom: 5rem;
}

/* Bank service section styles */
.service-card-groups {
  padding: 2rem 0;
}

.bank-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Light-Grayish-Blue);
}

.service-title {
  color: var(--Dark-Blue);
  text-align: center;
  margin-top: 4rem;
  padding: 1rem 4rem;
  font-size: 35px;
  font-weight: 400;
}

.service-text {
  text-align: center;
  padding: 1rem;
  color: var(--Grayish-Blue);
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.service-card img {
  padding: 1rem;
}

.service-card-title {
  color: var(--Dark-Blue);
  padding: 1rem;
}

.card-text {
  text-align: center;
  color: var(--Grayish-Blue);
  margin-bottom: 1rem;
  font-size: 15px;
}

/* Article section styles */
.articles {
  padding: 4rem 0;
  background-color: var(--Very-Light-Gray);
}

.article-title {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  color: var(--Dark-Blue);
}

.article-card-groups {
  display: flex;
  flex-direction: column;
}

.article-card {
  padding: 1.7rem;
}

.card-head img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 0 1rem 1.5rem 1.5rem;
  border-radius: 0 0 5px 5px;
  background-color: var(--White);
}

.article-author {
  background-color: var(--White);
  padding-top: 2rem;
  padding-left: 24px;
  font-size: 11px;
  color: var(--Grayish-Blue);
}

.article-content {
  font-size: 13px;
  color: var(--Grayish-Blue);
}

.article-heading {
  color: var(--Dark-Blue);
  padding: 1rem 0;
  font-weight: 300;
  font-size: 16px;
}

/* Footer styles */
footer {
  display: flex;
  background-color: var(--Dark-Blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.social-links {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  padding: 5px 10px;
}

.footer-nav ul {
  color: var(--Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav ul li {
  padding: 0.5rem;
}

.logo-and-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.logo-end {
  padding: 1rem 2rem 1rem 1rem;
}

.bottom-button {
  /* margin: 1rem 0; */
  /* padding-right: 24px;
  padding-bottom: 1rem; */
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.copy-and-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Request Invite button in the footer */
.btn-primary-footer {
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: var(--Very-Light-Gray);
  margin: 0;
}

/* Copyright text */
.copyright {
  color: var(--Grayish-Blue);
  padding: 1rem;
}

/* Media queries */
@media (min-width: 980px) {
  header {
    position: static;
  }

  .navbar-toggle-btn {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 7.2rem;
  }

  .logo {
    padding: 1rem;
    margin: 0 0 0 2rem;
  }

  .navbar-nav {
    position: static;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--White);
    padding: 0 1rem;
    border-radius: 0;
  }

  .navbar .btn-primary {
    padding: 1rem;
    display: flex;
    margin: 0 2rem 0 0;
  }

  .navbar-nav a:hover {
    opacity: 0.8;
    border-bottom: solid var(--Lime-Green);
  }

  /* Home section styles for desktop */
  .home {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .home-container {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
    justify-content: center;
    width: 48%;
    padding-bottom: 10px;
  }

  .home-img {
    aspect-ratio: unset;
    margin-bottom: 0px;
    background: url("../images/bg-intro-desktop.svg") no-repeat -4rem -16rem;
    width: 52%;
    padding-bottom: 0;
  }

  .home-img img {
    all: initial;
    transform: translate(7.5rem, -8rem);
    margin-bottom: -15rem;
  }

  .home-title {
    padding-bottom: 20px;
    text-align: left;
    font-size: 50px;
    font-family: "Public sans";
  }

  .home-text {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 2rem;
    text-align: left;
    line-height: 1.5;
    width: 95%;
  }

  .home-button {
    padding-left: 2rem;
  }

  /* Bank service section styles for desktop */
  .bank-service {
    align-items: flex-start;
    padding: 3.5rem 3rem;
  }

  .service-title {
    all: initial;
    font-family: "Public Sans", sans-serif;
    color: var(--Dark-Blue);
    padding-left: 1rem;
    font-size: 40px;
    font-weight: 400;
    margin-left: 1rem;
  }

  .service-text {
    margin-left: 1rem;
    text-align: left;
    width: 60%;
    line-height: 1.5;
    font-size: 18px;
  }

  .service-card-title {
    font-size: 23px;
    font-weight: 400;
  }

  .service-card-groups {
    display: flex;
  }

  .service-card {
    align-items: flex-start;
    padding-right: 10px;
    padding-left: 10px;
  }

  .card-text {
    text-align: left;
    padding-left: 1rem;
    font-size: 16px;
    line-height: 1.5;
  }

  /* Article section styles for desktop */
  .articles {
    padding: 3.5rem 2rem;
    line-height: 1.5;
  }

  .article-title {
    font-size: 40px;
    padding-left: 1rem;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .article-card-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 1rem;
  }

  .article-card {
    max-height: 35%;
    max-width: 35%;
    padding: 1rem;
    margin: 2rem 0;
  }

  .card-head img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  /* Footer styles for desktop */
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 4rem;
  }

  .footer-links {
    margin-left: 1rem;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .social-links,
  .logo-end {
    padding: 1.5rem;
  }

  .social-links a {
    padding: 5px 12px 5px 0;
  }

  .logo-and-social {
    align-items: flex-start;
    padding: 1rem;
  }

  .footer-nav ul {
    align-items: flex-start;
  }

  .support-links {
    padding: 1rem;
  }

  .footer-nav {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  .copy-and-btn {
    display: flex;
    align-items: flex-end;
    padding: 2rem 1rem 2rem 1rem;
  }

  .support-links li {
    margin-right: 2rem;
    min-width: 120px;
  }

  .social-links a:hover {
    opacity: 0.8;
  }

  .copyright {
    padding: 1rem 1.5rem 1rem 0;
    min-width: 270px;
  }
}

/* Additional styles for larger desktop screens */
@media (min-width: 1440px) {
  .home-container {
    padding-left: 10rem;
  }
  .articles,
  .bank-service {
    padding: 3.5rem 9rem;
  }

  .article-card-groups {
    display: flex;
    flex-wrap: nowrap;
  }

  .card-head img {
    object-fit: cover;
    aspect-ratio: 1.5/1;
  }
  .footer-links {
    margin-left: 4rem;
  }
  .copy-and-btn {
    margin-right: 4rem;
  }
}
